{{#*inline "page"}}

<h1>{{ event_info.name }}</h1>
<ul>
    <li><a href="/event/{{ event_id }}/oc">OCheckList changes</a></li>
    <li><a href="/event/{{ event_id }}/qe/chng/in">QuickEvent in-changes</a></li>
</ul>

{{/inline}}
{{> layout}}
