{{#*inline "page"}}

    <h1>{{ title }}</h1>
    <h2>Events</h2>
    <section>
        <ul>
            {{#each events}}
                <li><a href="/event/{{ this.0 }}">{{ this.1.name }}</a></li>
            {{/each}}
        </ul>
    </section>

<!--<section id="custom-helper">-->
<!--  <p>Try going to <a href="/hello/Your%20Name">/hbs/hello/Your Name</a>.</p>-->
<!--</section>-->

{{/inline}}
{{> layout}}
