<!-- Navbar -->
<!--<div class="w3-top">-->
    <div class=" w3-theme w3-bar w3-left-align w3-large">
        <a class="w3-bar-item w3-button w3-left w3-hide-large w3-hover-white w3-large" href="javascript:void(0)" onclick="w3_open()"><i class="fa fa-bars"></i></a>
        <a href="/" class="w3-bar-item w3-button">Quick Exchange</a>
<!--        <a href="#" class="w3-bar-item w3-button w3-hide-small w3-hover-white">About</a>-->
        {{#if user}}
            <span class="w3-bar-item w3-right">{{user.name}}</span>
            <img src="{{user.picture}}" alt="avatar" class="w3-circle w3-right"  width="40" height="40">
        {{else}}
            <a class="w3-bar-item w3-button w3-hover-black w3-right" href="/login">Login</a>
        {{/if}}
    </div>
<!--</div>-->

<!-- Sidebar -->
<nav class="w3-sidebar w3-bar-block w3-collapse w3-large w3-theme-l5" id="mySidebar">
    <div class="w3-theme w3-bar w3-left-align w3-large ">
        <a href="/" class="w3-bar-item w3-button">Quick Exchange</a>
    </div>
    <a href="javascript:void(0)" onclick="w3_close()" class="w3-right w3-large w3-padding-large w3-hover-black w3-hide-large" title="Close Menu"><i class="fa fa-remove"></i></a>

    <a class="w3-bar-item w3-button w3-hover-black" href="/">Events</a>
    <a class="w3-bar-item w3-button w3-hover-black" href="/about">About</a>
</nav>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>
<script>
    // Get the Sidebar
    var mySidebar = document.getElementById("mySidebar");

    // Get the DIV with overlay effect
    var overlayBg = document.getElementById("myOverlay");

    // Toggle between showing and hiding the sidebar, and add overlay effect
    function w3_open() {
        if (mySidebar.style.display === 'block') {
            mySidebar.style.display = 'none';
            overlayBg.style.display = "none";
        } else {
            mySidebar.style.display = 'block';
            overlayBg.style.display = "block";
        }
    }

    // Close the sidebar with the close button
    function w3_close() {
        mySidebar.style.display = "none";
        overlayBg.style.display = "none";
    }
</script>
